body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	overflow: hidden;
}

.object {
	position: absolute;
}

#soccer-ball {
	background: linear-gradient(to top,#686868, #ffffff);
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	left: 27%;
	top: 35%;
}

#stripe {
	background-color: black;
	width: 400px;
	height: 10px;
	position: absolute;
	border: solid 2px #000;
	border-color: black transparent transparent transparent;
	border-radius: 70px 50px 0 0;
	bottom: 66%;
	transform: rotate(-30deg);
}

#vase {
	background-color: #cecece;
	position: absolute;
	height: 110px;
	width: 62px;
	top:55%;
	left: 46%;
	opacity: 0.5;
}

#tomato {
	width: 100px;
	height: 90px;
	background: #ed1717;
	border-radius: 50%;
	left: 22%;
	top: 60%;
}

#stem {
	background-color: #3a8e40;
	position: absolute;
	height: 20px;
	width: 5px;
	top:-10px;
	left: 45%;
}

#lemon {
	width: 70px;
	height: 50px;
	background: #fff95b;
	border-radius: 50%;
	left: 30%;
	top: 70%;
}

#pellegrino {
	background-color: #3a9e4b;
	width: 30px;
	border-radius: 20%;
	box-shadow: 0px 0px 2px 2px #848484;
	position: absolute;
	height: 180px;
	width: 70px;
	top:34%;
	left: 48%;
	opacity: 0.5;
}

#top {
	border-bottom: 80px solid #3a9e4b;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 16px;
	top:19.6%;
	left: 49.3%;
	opacity: 0.5;
}

#top-right-shadow {
	width: 60.5px;
	height: 2px;
	background: #3a9e4b;
	color: transparent;
	opacity: .4;
	left: 50.4%;
	top:27.9%;
	transform: rotate(79deg);
	box-shadow: 2px 4px 20px 4px #848484;
}

#top-cap {
	background-color: #e0e0e0;
	width: 30px;
	border-radius: 20%;
	position: absolute;
	height: 21px;
	width: 30px;
	top:19%;
	left: 50.2%;
}

#orange-roll {
	background-color: #ed7f09;
	width: 100%;
	position:absolute;
	height: 40px;
	width: 430px;
	bottom: 50%;
	left: 30%;
	top: 48%;
	transform: rotate(12deg);
}

#paper {
	border-bottom: 260px solid #f2f2ed;
	border-left: 60px solid transparent;
	border-right: 220px solid transparent;
	height: 0;
	width: 400px;
	top: 45%;
	left:15%;
}

#table {
	width: 900px;
	height: 550px;
	border-left: 600px solid transparent;
	border-right: 600px solid transparent;
	border-bottom: 400px solid #AD9070;
	top: -60%;
	left: -48%;
	transform: rotate(5deg);
}

/*#vase-top {
	width: 70px;
	height: 20px;
	background: #cecece;
	border-radius: 20%;
	left: 45.5%;
	top: 54%;
	opacity: 0.9;
}

#vase-bottom {
	width: 70px;
	height: 20px;
	background: #cecece;
	border-radius: 20%;
	left: 45.5%;
	top: 73%;
	opacity: 0.9;
}*/

#stick {
	left: 30%;
	top: 52%;
	width: 200px;
	height: 120px;
	border: solid 4px #000;
	border-color: #876b3f transparent transparent transparent;
	border-radius: 50%/30px 30px 0 0;
	transform: rotate(67deg);
}

#pellegrino-wrap {
	width: 40px;
	height: 30px;
	top: 50%;
	bottom: 40%;
}

img {
	width: 70px;
	height: 100px;
	position:absolute;
	top: 45%;
	left:48%;
	opacity: 1.0;
}

#orange-roll-end {
	width: 10px;
	height: 40px;
	background: white;
	border-radius: 50%;
	left: 77%;
	top: 56%;
	transform: rotate(12deg);
}

#orange-roll-end-middle {
	width: 5px;
	height: 30px;
	background: #4f4e4e;
	border-radius: 50%;
	left: 77.3%;
	top: 57%;
	transform: rotate(12deg);
}

#roll-shadow {
	width: 245px;
	height: 5px;
	background: #848484;
	box-shadow: -18px -4px 28px 16px #848484;
	left: 50%;
	top: 58%;
	opacity: 0.6;
	transform: rotate(12deg);
}

#line-1 {
	width: 2px;
	height: 100px;
	background: #a5a4a4;
	left: 46.3%;
	top: 56.3%;
}

#line-2 {
	width: 2px;
	height: 105px;
	background: #a5a4a4;
	left: 47.3%;
	top: 56.3%;
}

#line-3 {
	width: 2px;
	height: 100px;
	background: #a5a4a4;
	left: 48.3%;
	top: 57.2%;
}

#line-4 {
	width: 2px;
	height: 100px;
	background: #a5a4a4;
	left: 49.3%;
	top: 57.2%;
}

#line-5 {
	width: 2px;
	height: 100px;
	background: #a5a4a4;
	left: 50.3%;
	top: 57.2%;
}

#line-6 {
	width: 2px;
	height: 101px;
	background: #a5a4a4;
	left: 51.3%;
	top: 56.6%;
}

#line-7 {
	width: 2px;
	height: 100px;
	background: #a5a4a4;
	left: 52.3%;
	top: 56.6%;
}

#vase-bottom {
	width: 55px;
	height: 10px;
	border: 5px solid #adadad;
	background: rgba(206, 206, 206, .6);
	border-radius: 50%;
	left: 46%;
	top: 72.5%;
}

#vase-top {
	width: 55px;
	height: 10px;
	border: 5px solid #adadad;
	background: transparent;
	border-radius: 50%;
	left: 45.5%;
	top: 54%;
}
/*
.hexagon {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #b0b4ba;
  margin: 17.32px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 17.32px solid #b0b4ba;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #b0b4ba;
}

#hexagon-1 {
	top: 40%;
	left: 40%;
	transform: rotate(90deg);
}

#hexagon-2 {
	top: -1%;
	left: 65%;
	transform: rotate(90deg);
}

#hexagon-3 {
	top: 2.5%;
	left: 14%;
	transform: rotate(90deg);
}

#hexagon-4 {
	top: -80%;
	left: 14%;
	transform: rotate(90deg);
}

#hexagon-5 {
	top: -91.4%;
	left: -12%;
	transform: rotate(90deg);
}
*/
