body {
  overflow: hidden;
  background-image: url("background2.jpg");
  width: 100%;
}
/*  #cccccc*/

h1 {
  color: white;
  font-family: Courier;
  position: absolute;
  top: 14%;
  left: 9%;
  font-size: 13vh;
}

/*#72d8c9*/
#triangle {
  position: absolute;
	width: 0;
	height: 0;
	border-bottom: 100vh solid rgba(255, 255, 255, .85);
	border-left: 100vmax solid transparent;
}

#home {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: #abcafc;
  width: 120vmin;
  height: 120vmin;
  transform: rotate(45deg);
  position: absolute;
  top: -10%;
}

#small-square {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: transparent;
  border: 1vh solid #a5a5a5;
  width: 100vmin;
  height: 100vmin;
  transform: rotate(45deg);
  position: absolute;
  top: -2%;
  left: 5%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Courier;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 9vh;
  color: #919191;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 9vh;
  border: none;
  outline: none;
  color: #919191;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #72d8c9;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.previous .next {
  position: absolute;
  width: 40vh;
  top: 40px;
  bottom: 100px;
}

.previous .next a:link {
  color: #000000;
}

.previous .next a:visited {
  color: #000000;
}

.previous .next a:hover {
  background-color: white;
}


.previous {
  background-color: white;
  font-family: Courier;
  border: none;
  color: #919191;
  padding: 2vh 6vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  position: absolute;
  border-radius: 8px;
  top: 60%;
  left: 13%;
}

.next {
  background-color: white;
  font-family: Courier;
  border: none;
  color: #919191;
  padding: 2vh 6vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  position: absolute;
  border-radius: 8px;
  top: 60%;
  left: 37%;
}

.button3 {
  background-color: white;
  font-family: Courier;
  border: none;
  color: #919191;
  padding: 2vh 6vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  position: absolute;
  border-radius: 8px;
  top: 60%;
  left: 25%;
}

blink {
  animation-duration: 1s;
  
}
