h1 {
  position: fixed;
  font-family: Helvetica;
  white-space: pre;
  font-size: 12vh;
  margin-left: 20px;
}

.sticky {
    position: sticky;
    top: 0;
}

.stickyLeft {
    position: sticky;
    top: 0;
}

#architecture {
  position: sticky;
  top: 0vh;
  width: 80vh;
  margin-left: 20px;
  height: auto;
  z-index: 0;
}

#art {
  position: fixed;
  top: 40%;
  left:0%;
  width: 80vh;
  z-index: 6;
}

#empire {
  position: absolute;
  top: 90vh;
  left:50vh;
  width: 75vh;
  height: auto;
}

#beinecke {
  position: sticky;
  top: 40%;
  left:120%;
  width: 80vh;
  z-index: 6;
}

.section-1 .slide-in-demo {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 4em;
}
