body {
  margin: auto;
  margin: 0px;
}

.button {
  text-decoration: none;
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 7vh;
  margin-left: 92vw;
  margin-top: 11vh;
  z-index: 200;
  color: white;
  display: inline-block;
  background-color: black;
}

.button2 {
  position: fixed;
  background-color: white;
  border: 4px black;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 9vh;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  top: 50%;
  left: 50%;
}

h1 {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 12vh;
  margin-left: 1vw;
  z-index: 200;
  color: white;
  display: inline-block;
  background-color: black;
}
/*
a:link {
  color: #000000;
}*/


.flip{
  transform: rotate(180deg);
}
/*
a:link {
  text-decoration: none;
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 7vh;
  margin-left: 92vw;
  margin-top: 11vh;
  z-index: 200;
  color: white;
  display: inline-block;
  background-color: black;
}*/

a:visited {
  color: white;
}

#architecture {
  position: absolute;
  top: -1vh;
  margin-left: -1vw;
  width: 89vw;
  width: auto;
}

#art {
  position: absolute;
  top:0vh;
  margin-left: 65vw;
  width: 42vw;
  z-index: 6;
}

#beinecke {
  position: absolute;
  top: 44vh;
  margin-left: 65vw;
  width: 42vw;
  z-index: 6;
}

#empire {
  position: absolute;
  top: 121vh;
  margin-left:0vw;
  width: 65vw;
  z-index: 7;
}

#old-brick {
  position: absolute;
  top: 78vh;
  margin-left: -2vw;
  width: 31vw;
  height: 43vh;
}

#met {
  position: absolute;
  top: 78vh;
  margin-left: 28vw;
  width: 38vw;
}

#moma {
  position: absolute;
  top: 173vh;
  margin-left: 65vw;
  width: 41vw;
  height: 33vw;
  h
}

#sterling {
  position: absolute;
  top: 97vh;
  margin-left: 65vw;
  width: 43vw;
}

#white-house {
  position: absolute;
  top: 257vh;
  margin-left: 24vw;
  width: 43vw;
}

#athens-airport {
  position: absolute;
  top: 230vh;
  margin-left: 65vw;
  width: 43vw;
}

#johnson-home {
  position: absolute;
  top: 213vh;
  margin-left: 34vw;
  width: 31vw;
  height: 46vh
}

#bell-lab {
  position: absolute;
  top: 206vh;
  margin-left: 0vw;
  width: 34vw;
}

#times-inc {
  position: absolute;
  top: 261vh;
  margin-left: 0vw;
  width: 24vw;
}

#davenport {
  position: absolute;
  top: 307vh;
  margin-left: 17vw;
  width: 52vw;
}

#cbs {
  position: absolute;
  top: 294vh;
  margin-left: 65vw;
  width: 43vw;
}

#patent {
  position: absolute;
  top: 378vh;
  margin-left: 0vw;
  width: 54vw;
}

#new-haven {
  position: absolute;
  top: 308vh;
  margin-left: 0vw;
  width: 24vw;
  height: 72vh;
}

#revolving-platform {
  position: absolute;
  top: 482vh;
  margin-left: 26vw;
  width: 28vw;
  height: 57vh;
}

#berkeley {
  position: absolute;
  top: 377vh;
  margin-left: 54vw;
  width: 54vw;
}

#hallway {
  position: absolute;
  top: 449vh;
  margin-left: 54vw;
  width: 25vw;
}

#pentagon {
  position: absolute;
  top: 482vh;
  margin-left: 0vw;
  width: 26vw;
}

#battel {
  position: absolute;
  top: 495vh;
  margin-left: 54vw;
  width: 24vw;
}

#yale-general {
  position: absolute;
  top: 446vh;
  margin-left: 78vw;
  width: 30vw;
}

#IBM {
  position: absolute;
  top: 526vh;
  margin-left: 0vw;
  width: 26vw;
  height: 52vh;
}

#image-handler {
  position: absolute;
  top: 521vh;
  margin-left: 78vw;
  width: 30vw;
}

#john-deere {
  position: absolute;
  top: 540vh;
  margin-left: 26vw;
  width: 33vw;
}

#MIT {
  position: absolute;
  top: 533vh;
  margin-left: 54vw;
  width: 24vw;
  height: 51.5vh;
}

#richmond {
  position: absolute;
  top: 584vh;
  margin-left: 0vw;
  width: 54vw;
}

#los-angeles {
  position: absolute;
  top: 584vh;
  margin-left: 54vw;
  width: 24vw;
}

#new-york {
  position: absolute;
  top: 605.5vh;
  margin-left: 78vw;
  width: 30vw;
  height: auto;
}

#chicago {
  position: absolute;
  top: 615vh;
  margin-left: 54vw;
  width: 24vw;
  height: 65.3vh;
}

#philly {
  position: absolute;
  top: 533vh;
  margin-left: 54vw;
  width: 24vw;
  height: 51.5vh;
}

#dc {
  position: absolute;
  top: 691vh;
  margin-left: 0vw;
  width: 54vw;
  height: auto;
}

#wikipedia {
  position: absolute;
  top: 680vh;
  margin-left: 54vw;
  width: 54vw;
  height: 60vh;
}

#bing {
  position: absolute;
  top: 740.5vh;
  margin-left: 0vw;
  width: 54vw;
  height: 48vh;
}

#first-website {
  position: absolute;
  top: 740.5vh;
  margin-left: 54vw;
  width: 50vw;
  height: 48vh;
}

#google {
  position: absolute;
  top: 789vh;
  margin-left: 0vw;
  width: 54vw;
  height: 48vh;
}

#yahoo {
  position: absolute;
  top: 789vh;
  margin-left: 54vw;
  width: 54vw;
  height: 48vh;
}
body {
    height: 2000px;
}
.start {
    display:none;
}

.top {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 3s;
    animation: animat_show 3s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
}
