body {
  margin: auto;
  margin: 0px;
  /*overflow-x: hidden;*/
}

h1 {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 12vh;
  margin-left: 2vh;
  z-index: 100;
  color: white;
  display: inline-block;
  background-color: black;
}

#architecture {
  position: absolute;
  top: 0vh;
  margin-left: -90vw;
  z-index: -2;
  height: 90vh;
  width: auto;
}
/*
#art {
  position: sticky;
  top: 5vh;
  margin-top: -55%;
  margin-left: 65vw;
  width: 80vh;
  z-index: 6;
}

#beinecke {
  position: sticky;
  top: 40vh;
  margin-left: 30vh;
  margin-top: 20vh;
  width: 80vh;
  z-index: 6;
}

#empire {
  position: sticky;
  top: 80vh;
  margin-left:95vh;
  width: 75vh;
  height: auto;
}
/*
.section-1 .slide-in-demo {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 4em;
}*/
