p {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight: 140;
  font-size: 5vh;
  margin-left: 1vw;
  color: white;
  display: inline-block;
  background-color: black;
}

h1 {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 9vh;
  z-index: 200;
  color: white;
  display: inline-block;
  background-color: black;
}
