p {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight: 140;
  font-size: 5vh;
  margin-left: 1vw;
  color: white;
  display: inline-block;
  background-color: black;
}

h1 {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 9vh;
  z-index: 200;
  color: white;
  display: inline-block;
  background-color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0,0,0,0);
}

.button2 {
  position: fixed;
  background-color: white;
  border: solid black;
  border-width: .15em;
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 9vh;
  padding: 10px 30px;
  text-decoration: none;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -160px;
}
