* {
  color: white;
}

.blend {
  pointer-events: none;
  position: fixed;
  /*background: #a6badb;*/
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  z-index: 9999999;
  mix-blend-mode: color;
}

.dimension {
  position: absolute;
  top: 0vmin;
  left: 85vw;
  color: white;
}

video, iframe {

}

#width {
    top: .0825em;
    left: .0625em;
}

#height {
    top: .8em;
    right: .0225em;
}
