* {
  outline-color: black;
  weight: 5px;
}

.blend {
  position: absolute
  height: 100px;
  weight: 100px;
  color: black;
  mix-blend-mode: multiply;
  z-index: 100;
  /*#3766b2*/
}
.dimension {
  position: absolute;
  top: 0vmin;
  left: 100vh;
  color: white;
}
