* {
  color: white;
}

.blend {
  pointer-events: none;
  position: fixed;
  background-color: #a6badb;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  z-index: 999999;
  mix-blend-mode: color;
}

#dimension {
  position: fixed;
  top: .2em;
  right: 2em;
  color: white;
  background-color: black;
  font-size: 3em;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 140;
  z-index: 9999999999999;
}

#width {
    top: .0825em;
    left: .0625em;
}

#height {
    top: .8em;
    right: .0225em;
}

p {
  margin: 0;
  position: fixed;
  line-height: .75;
}
