#center-text {
  position:absolute;
  top: 84%;
}

#directions {
  text-align: center;
}

* {
  /*text-align: center;*/
  font-family: "Helvetica Neue", Helvetica;
  /*white-space: pre;*/
  font-weight: 140;
  font-size: 1.03em;
}

figure {
  display:inline-block;
  vertical-align:center;
  position: relative;
  overflow: hidden;
}

.fade figcaption {
  position:absolute;
  text-align:center;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:white;
  line-height:110px;
  font-family: "Helvetica Neue", Helvetica;
  background: rgba(0,0,0,0);
}

.fade figcaption {
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition:opacity 0.9s ease;
}

.fade figcaption:hover{
  opacity:1;
}

body {
   margin: 0;
   background: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  margin-bottom: 60px;
}

.bookmarklet {
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight: 140;
  background-color: #a6badb;
  color: white;
  /*background-color: black;*/
  transition: .5s;
}

a:hover:not(#image) /*#border*/ {
  text-decoration: none;
  color: rgba(0,0,0,0);
  border: .15em solid #a6badb;
}

a:hover:not(#image) ~ p {
  /*background: #a6badb;*/
  color: #a6badb;
}

.button2 {
  transition: .5s;
  position: fixed;
  background-color: white;
  border: solid black;
  border-width: .15em;
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 9vh ;/*2em*/
  padding:10px 30px;/*.2em 1em*/
  text-decoration: none;
  text-align:center;
  top: 50%;
  z-index:900;
}

#border {
  display: flex;
  justify-content: center;
  height: 100vh;
}

h4{
  text-align:center;
  line-height:80px;
  font-weight:normal;
}

.top {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 3s;
    animation: animat_show 3s;
    visibility: visible !important;
}

.masonry { /* Masonry container */
  -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  column-gap: -3em;
  margin: 0em;
  padding: 0;
  font-size: .85em;
}

.item {
    position: relative;
    display: inline-block;
    background: #fff;
    margin: 0 0 1em;
    width: 100%;
    transition: .3s;
}

.item img{max-width:100%;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
