#directions {
  text-align: center;
  top:60vh;
}

* {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
  /*white-space: pre;*/
  font-weight: 140;
  font-size: 1.05em;
}

figure {
  display:inline-block;
  vertical-align:center;
  position: relative;
  overflow: hidden;
}

.fade figcaption {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:white;
  line-height:110px;
  font-family: "Helvetica Neue", Helvetica;
  background: rgba(0,0,0,0);
}

.fade figcaption {
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition:opacity 0.9s ease;
}

.fade figcaption:hover{
  opacity:1;
}

body {
   margin: 0;
   background: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  margin-bottom: 60px;
}

.bookmarklet {
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight: 140;
  font-size: 5vh;
  /*  position: absolute;
  left: 50%;
  margin-left: -565px;
  top: 25%;
  display: inline-block;*/
  color: white;
  background-color: black;
  transition: .5s;
}

a:hover:not(#image) /*#border*/ {
  text-decoration: none;
  color: rgba(0,0,0,0);
  border: .15em solid #a6badb;
}

a:hover:not(#image) ~ p {
  background: #a6badb;
  color: #a6badb;
}

.button2 {
  transition: .5s;
  position: fixed;
  background-color: white;
  border: solid black;
  border-width: .15em;
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  white-space: pre;
  font-weight:250;
  font-size: 9vh;
  padding: 10px 30px;
  text-decoration: none;
  top: 50%;
  left: 50%;
  z-index:900;
  margin-top: -50px;
  margin-left: -167px;
}
/*
#top {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -300px;
}

#right {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: center center;
  position: relative;
  top: 50%;
  left: 75%;
  z-index:900;
  margin-top: -15px;
  margin-left: -300px;
}

#bottom {
  position:absolute;
  text-align: center;
  top: 86%;
  left: 50%;
  z-index:900;
  margin-top: -50px;
  margin-left: -235px;
}

#left {
  transform: rotate(90deg);
  transform-origin: center center;
  position:absolute;
  left:30%;
}*/

#border {
  height: 100vh;
}

h4{
  text-align:center;
  line-height:80px;
  font-weight:normal;
}

.top {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 3s;
    animation: animat_show 3s;
    visibility: visible !important;
}
/*
figure {
  transition: .8s;
}*/


.masonry { /* Masonry container */
  -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  column-gap: -3em;
  margin: 0em;
  padding: 0;
  font-size: .85em;
  /*-webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: .8em;
  -webkit-column-gap: .8em;
  column-gap: .8em;
  font-size: .85em;*/
}

.item {
    position: relative;
    display: inline-block;
    background: #fff;
    /*padding: .em;*/
    margin: 0 0 1em;
    /*margin: 0 0 1.5em;*/
    width: 100%;
    transition: .3s;
}

.item img{max-width:100%;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
