body {
  background-image: url("passport.jpg");
}

img {
  width: 33%; /*418px*/
  height: auto;
  position: static;
  left: 20%;
  top:50%;
}

h1 {
  position:static;
  font-size: 70px;
  font-family: "Times New Roman", arial;
  top: 20%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#text {
  border: white;
  background-color: white;
  padding: white .2px;
  margin: -10px;
}

.button {
  background-color: #d8d8d8;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position:absolute;
  top: 80%;
  left: 80%;
}

.button2 {
  background-color: #d8d8d8;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position:absolute;
  top: 80%;
  left: 10%;
}

.button3 {
  background-color: #d8d8d8;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position:absolute;
  top: 80%;
  left: 45%;
}
