body {
  background-color: #a5c7ff;
  font-family: "Courier", Times, serif
}

h3 {
	display: inline;
	position: relative;
	font: 80px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

h3:after {
	content: "Reading Response B";
	position: absolute; left: 5px; top: 5px;
	color: rgba(255,0,0,0.5);
}
